<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Section</title>
    
    <script src="https://kit.fontawesome.com/391827d54c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link  rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/chat.css">
    
    <!-- loads loads common sidebar (sidebar.html) into current page -->
    <script src="/js/sidebarLoader.js"></script>

</head>

<body>

    <!-- container holds the content of the sidebar -->
    <div id="sidebarContainer"></div>

    <!-- error alert -->
    <div id="errorAlert" class="bg-red-700 rounded-lg p-2 hidden text-base  text-center" role="alert">
    </div>


    <!-- success alert-->
    <div id="successAlert" class="bg-green-700 rounded-lg p-2 hidden text-base  text-center" role="alert">
    </div>

    <!-- Chat content -->

    <div class="background-green"></div>

    <div class="main-container">
        <div class="left-container">

            <!--header -->
            <div class="header">
                <div class="user-img">
                    <img class="dp" src="https://www.codewithfaraz.com/InstaPic.png" alt="dpImg" data-toggle="modal" data-target="#dpModal">
                </div>

                <div class="profile-data">
                    
                </div>

                <div class="nav-icons">
                    <li><i class="fa-solid fa-users" id="groupUsersIcon" data-toggle="modal" data-target="#exampleModalCenter" ></i></li>
                    <li><i class="fa-solid fa-message"></i></li>
                    <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                </div>
                
            </div>
            
            <!--notification -->
            <div class="notif-box">
                <i class="fa-solid fa-bell-slash"></i>
                <div class="notif-text">
                    <p>Get Notified of New Messages</p>
                    <a href="#">Turn on Desktop Notifications ›</a>
                </div>
                <i class="fa-solid fa-xmark"></i>
            </div>

            <!--search-container -->
            <div class="search-container">
                <div class="input">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Search or start new chat   ">
                </div>
                <i class="fa-sharp fa-solid fa-bars-filter"></i>
            </div>

            <!--chats -->
            <div class="chat-list">
`               
            </div>

        </div>

        <div class="right-container">
           
        </div>

        
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">Create Group</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                      <form method="POST">
                        <div class="form-group">
                            <input type="text" id="groupName" name="groupName" class="form-control" placeholder="Enter group name" required>
                        </div>
                        
                          <div class="form-group">
                              <div class="card imgholder">
                                <label for="imgInput" class="upload">
                                    <input type="file" name="" id="imgInput" class="form-control">
                                    <i class="bi bi-plus-circle-dotted"></i>
                                </label>
                                <img src="/images/profile/profile2.webp" alt="" width="200" height="200" class="img">
                            </div>
                          </div>
                          <div class="form-group">
                              <label class="pl-3">Select Users for the Group</label>
                              <div class="user-selection pl-4">
                                  <!-- Display list of users with checkboxes for selection -->
                                  <!-- Example: -->
                                  <!-- <input type="checkbox" id="user1" name="user1"> -->
                                  <!-- <label for="user1">User 1</label> -->
                                  <!-- Repeat for each user -->
                              </div>
                          </div>
                      </form>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Close&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                      <button type="submit" form="createGroupForm" class="btn btn-primary" id="createGroup">Create Group</button>
                  </div>
              </div>
          </div>
      </div>


      <div class="modal fade" id="dpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Change Profile Picture</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="#" id="dpForm">
                    <div class="form-group">
                        <div class="card imgholder">
                            <label for="imgInput1" class="upload">
                            <input type="file" name="" id="imgInput1" class="form-control">
                            <i class="bi bi-plus-circle-dotted"></i>
                        </label>
                        <img src="/images/profile/profile2.webp" alt="" width="200" height="200" class="img1">
                        </div>
                     </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Close &nbsp;&nbsp;&nbsp;&nbsp;</button>
              <button type="submit" form="dpForm" class="btn btn-primary submit">Save changes</button>
            </div>
          </div>
        </div>
      </div>



      <div class="gif-container" id="gifContainer">
        <div class="gif-grid" id="gifGrid">
          <!-- Dynamically loaded GIFs will be inserted here -->
        </div>
      </div>

      
        
    </div>

    
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/js/basicconfig.js"></script>
    <script src="/js/userprofile.js"></script>
    <script src="/js/userchat.js"></script>
    <script src="/js/groupchat.js"></script>
    <script src="/js/axios.js"></script>
   

</body>

</html>