<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Kavoon&family=Metal+Mania&family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/portal.css">
    <title>FlashChat - Rahul Rajkumar Gupta</title>
</head>

<body>

    <header>
        <nav class="navbar">
            <span class="hamburger-btn material-symbols-rounded">menu</span>
            <a href="#" class="logo">
                <img src="/images/logo/flashchat.png" alt="logo">
                <h2>FlashChat</h2>
            </a>
            <ul class="links">
                <span class="close-btn material-symbols-rounded">close</span>
                <li><a href="#">Home</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </nav>
    </header>

    <!-- error alert -->
    <div id="errorAlert" class="bg-red-700 rounded-lg p-2 hidden text-base  text-center" role="alert">
    </div>

    <!-- success alert-->
    <div id="successAlert" class="bg-green-700 rounded-lg p-2 hidden text-base  text-center" role="alert">
    </div>
    
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form id="si_userForm" method="POST" action="/user/signup">
                <h1>Create Account</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>

                <div class="input-container">
                    <i class="fas fa-user"></i>
                    <input type="text" id="si_name" name="sn_name" placeholder="Name">
                </div>

                <div class="input-container">
                    <i class="fas fa-envelope"></i>
                    <input type="email" id="si_email" name="sn_email" placeholder="Email">
                </div>

                <div class="input-container">
                    <i class="fas fa-phone"></i>
                    <input type="tel" id="si_telephone" name="sn_telephone" placeholder="Telephone">
                </div>                
                
                <div class="input-container">
                    <i class="toggle-passwords fas fa-lock" onclick="togglePasswordVisibilitys()"></i>
                    <input type="password" id="si_password" name="sn_password" placeholder="Password">
                </div>

                <button type="submit" id="si_createUserBtn">Sign Up</button>
            </form>
        </div>

        <div class="form-container sign-in">
            <form id="i_signInForm" method="POST" action="/user/login">
                <h1>Sign In</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
             

                <div class="input-container">
                    <i class="fas fa-envelope"></i>
                    <input type="email" id="i_email" name="n_email" placeholder="Email">
                </div>

                <div class="input-container">
                    <i class="toggle-password fas fa-lock" onclick="togglePasswordVisibility()"></i>
                    <input type="password" id="i_password" name="n_password" placeholder="Password">
                </div>

                <a href="./reset-password" class="forgot-password">Forgot Your Password?</a>
                <button type="submit" id="i_signInBtn">Sign In</button>
            </form>
        </div>

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all FlashChat features</p>
                    <h1>फिर से स्वागत है!!</h1>
                    <p>अपना व्यक्तिगत विवरण दर्ज करें ताकि आप सभी FlashChat सुविधाओं का उपयोग कर सकें।</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use FlashChat features</p>
                    <h1>नमस्ते, दोस्त!</h1>
                    <p>अपना व्यक्तिगत विवरण दर्ज करें ताकि आप FlashChat की सुविधाओं का उपयोग कर सकें।</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer section -->
    <footer class="footer">
        <div class="footer-content">
            <!-- English Content -->
            <div class="footer-english">
                <marquee behavior="scroll" direction="left">  
                <span class="copyright-logo">&#169;</span>
                <span> Copyright - All Rights Reserved February 28, 2024 Rahul Rajkumar Gupta !!</span>
                <span class="copyright-logo">&#169;</span>
                </span> सर्वाधिकार - सभी अधिकार सुरक्षित २८ फरवरी, २०२४ राहुल राजकुमार गुप्ता</span>
                <span class="copyright-logo">&#169;</span>
                </span> सर्वाधिकारम् - सर्वेषाम् अधिकाराणां सुरक्षितं २८ फरवरी, २०२४ राहुल राजकुमार गुप्तः </span>
                </marquee>
            </div>
        </div>
    </footer>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- <script src="/js/auth.js"></script> -->
    <script src="/js/axios.js"></script>
    <script src="/js/portal.js"></script>

</body>

</html>